html { font-family: sans-serif; background: lightgray; padding: 1rem; }
body { 
    background: #e7e7e7; 
    border-radius: 5px;
    max-width: 360px;
    min-width: 360px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 9px darkgray;
    min-height: 80px;
}

h4 { text-align: center; color: rgb(110, 110, 110); font-size: 0.8em; margin: 0px; margin-top: 5px; padding: 2px;}
h2 { text-align: center; font-size: 1.5em; font-weight: bold; margin: 0; padding: 2px;}
h3 { text-align: center; font-size: 1em; font-weight: normal; margin: 0; padding: 0px; margin-top:-10px}
a { color: #377ba8; }
br { margin: 0; padding: 0;}

.content { font-family: Helvetica, Arial, sans-serif; }
.content form { display: inline-block; padding: 0; }
.content label { text-align:left; font-size: 1.1em; vertical-align: middle; height:50px; padding-left: 5px; margin: 0px}
.content input, .content textarea { font-size: 1em; }
.content img { height: 60px; width: auto; align-self: right;}
input.danger { color: #cc2f2e; }
input.image { height: 50px; width: auto; vertical-align: middle;}

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:28px;
    width:100%;
    color:gray;
    font-size: 0.9em;
    text-align: center;
    padding: 2px;
    font-family: Helvetica, Arial, sans-serif;
}

div.logo {
    display: block;
    text-align: center;
    margin-right: 2px;
    float: right;
}
div.splashtext {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    margin: auto;
    padding-left: 5px;
    min-height: 50px;
    display: inline-block;
    font-size: 1.3em;
    vertical-align: middle;
}
